html {
	background-color: #444; /* #333333; */
}

body {
	position: relative;
}

nav {
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

nav h1 {
	font-size: 2.4em;
	position: relative;
	top: 0.1em;
}
 	
nav h1 a {
	text-decoration: none;
	color: white;
}

a:hover, a:focus {
	text-decoration: none;
	color: #c1befa; /* "light navy" */
}

main {
  background-color: #9FC5F8; /* for consistency with wireframe */
}

main > div#container {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.flex-container-outer {
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 0 auto;
}

.flex-container-inner {
  min-width: 28%;
  padding: 20px 15px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-container-inner > div {
  margin: 5px 10px 5px;
}

.flex-container-inner > .div-input {
  /* background-color: red; */
  display: flex;
  height: 40px;
}

.flex-container-inner > .div-input > input {
  margin: auto;
  font-family: "VT323", monospace;
  font-size: 2.2em;
  max-width: 90%;
  text-align: center;
  border: 2px solid black;
}

.flex-container-inner > .div-input > select {
  margin: auto;
  font-size: 2em;
  max-width: 90%;
  border: 2px solid black;
}

.large-button {
  display: block;
  background: purple; /* note not just background-color */
  color: white;
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  margin: 20px auto 0;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700; /* bold */
  /* TODO: Add appearance attributes to 
     ensure button looks consistent across devices */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}

#result {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .flex-container-outer {
    flex-direction: column;
  }
  .flex-container-inner {
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
  }
  .flex-container-inner > .div-label {
    width: 140px;
    max-width: 40%;
  }
  .flex-container-inner > .div-input {
    width: 160px;
    max-width: 60%;
  }
} /* end 720px tablet media query */

@media only screen and (max-width: 480px) {
  .flex-container-outer {
    margin: 0;
    padding-bottom: 10px;
  }
  .flex-container-inner {
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .flex-container-inner > .div-label {
    width: 90px;
    padding: 0;
    margin: 0;
    font-size: 0.6em;
    display: flex;
  }
  .flex-container-inner > .div-label > label {
    margin: auto 0 auto;
  }
  .flex-container-inner > .div-input {
    width: 140px;
    margin: 0;
  }
  .flex-container-inner > .div-input > input {
    margin: 0;
    font-size: 1.5em;
  }
  .flex-container-inner > .div-input > select {
    font-size: 1.2em;
  }
} /* end 480px mobile media query */


footer {
	background-color: black; /* for consistency with wireframe */
	color: white;
	width: 100%;
	height: 50px;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

footer > p {
	text-align: center;
	width: 400px;
	margin: 0 auto;	
	line-height: 50px;
	font-size: 1.25em;
}

/*****************************************/
/* STYLES TO OVERRIDE BOOTSTRAP DEFAULTS */
/*****************************************/
.bg-dark {
	background-color: navy !important;
}

li.nav-item {
	font-size: 1.2em !important;
}